<mat-card class="example-card" style="background-color: black; margin-left: 5rem; margin-top: 5rem;" >
    <mat-card-header style="-webkit-text-fill-color:white">
      <mat-card-title>Ala Aerea 1</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button style="background-color: white; margin-left: 1rem;">Armamento Individual</button>
      <button mat-flat-button style="background-color: white;margin-left: 1rem;">Armamento Aereo</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" style="background-color: black; margin-left: 5rem; margin-top: 5rem;">
    <mat-card-header style="-webkit-text-fill-color:white">
      <mat-card-title>Ala Aerea 2</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button style="background-color: white; margin-left: 1rem;">Armamento Individual</button>
      <button mat-flat-button style="background-color: white;margin-left: 1rem;">Armamento Aereo</button>
    </mat-card-actions>
  </mat-card>