<mat-card class="example-card region1" style="background-color: black; margin-left: 5rem; margin-top: 5rem;">
    <mat-card-header style="-webkit-text-fill-color:white">
      <mat-card-title>Región Aérea del
        Centro. (R.A.C.)
        Santa Lucía, Méx.</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button style="background-color: white; margin-left: 1rem;">Armamento Individual</button>
      <button mat-flat-button style="background-color: white;margin-left: 1rem;">Armamento Aereo</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card region2" style="background-color: black; margin-left: 5rem; margin-top: 5rem;">
    <mat-card-header style="-webkit-text-fill-color:white">
      <mat-card-title>Región Aérea del
        Sureste.
        (R.A.SE.). Tuxtla
        Gutiérrez, Chis.</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button style="background-color: white; margin-left: 1rem;">Armamento Individual</button>
      <button mat-flat-button style="background-color: white;margin-left: 1rem;">Armamento Aereo</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card region3" style="background-color: black; margin-left: 5rem; margin-top: 5rem;">
    <mat-card-header style="-webkit-text-fill-color:white">
      <mat-card-title>Región Aérea del
        Noreste. (R.A.NE.)
        Chihuahua, Chih.</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button style="background-color: white; margin-left: 1rem;">Armamento Individual</button>
      <button mat-flat-button style="background-color: white;margin-left: 1rem;">Armamento Aereo</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card region4" style="background-color: black; margin-left: 5rem; margin-top: 5rem;">
    <mat-card-header style="-webkit-text-fill-color:white">
      <mat-card-title>Región Aérea del
        Noroeste.
        (R.A.NO.)
        Hermosillo, Son.</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button style="background-color: white; margin-left: 1rem;">Armamento Individual</button>
      <button mat-flat-button style="background-color: white;margin-left: 1rem;">Armamento Aereo</button>
    </mat-card-actions>
  </mat-card>
